<div class="haikei">
  <div class="container">
    <div class="row">
      <h2>四国八十八か所</h2>
    </div>
    <div class"row">
      <h4>あなたはどんな旅にしたいですか？</h4>
    </div>
    <div class="row">
      <div class="col text-center">
        <%= link_to image_tag("sikoku.png"), temples_path, :size =>'100x100' %>
      </div>
    </div>
  </div>
</div>