<div class="haikei">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h2>四国八十八か所</h2>
        <h4>あなたはどんな旅にしたいですか？</h4>
        <%= link_to image_tag("sikoku.png"), temples_path, :size =>'100x100' %>
      </div>
    </div>
  </div>
</div>