
  <div class="first-comment">
    <div class="container">
      <div class="index_text">
        <div class="row test">
          <h1>四国八十八か所</h1>
        </div>
        <div id="test2" class"row">
          <h2>あなたはどんな旅にしたいですか？</h2>
        </div>
      </div>

      <!--遷移用画像-->
      <div class="row">
        <div class="col text-center">
          
            <%= link_to image_tag("sikoku.png", width: '100%', height: '100%'), temples_path, class:"hover" %>
            <span class="balloon">クリックして旅へ出発！</span>

        </div>
      </div>
    </div>
  </div>

  <!--<script>-->
    <!--//$("body").addClass("haikei");-->
    <!--// $(".test").addClass("haikei");-->
    <!--// $("#test2").addClass("haikei");-->

  <!--  $(".hover").mouseover(function(currenttarget){-->
  <!--    console.log(currenttarget);-->
      <!--//影をつける処理を書く-->
      <!--// $(e.target).addClass("haikei");-->
  <!--    $(currenttarget).("hover");-->
  <!--  });-->

  <!--</script>-->