<div class="about">
  <img src="/assets/img5.jpg">
  <div class="about-p">
      このサイトについて<br>
      <br>
      このサイトは、四国八十八か所を巡るお遍路さんや、
      巡礼や四国に興味を持ってくれる人のためのサイトです。<br>
      皆さんが感じたことや気づいたことを共有し、
      それぞれにとって良い旅のお供になり得ますように。<br>
  </p>
</div>
